@model ProvidersDomain.ViewModels.Account.RegisterModel

<h2>Регистрация</h2>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name"></label><br />
        <div class="form-group mb-3">
            <input class="form-control" type="text" asp-for="Name" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <label asp-for="Email"></label><br />
        <div class="form-group mb-3">
            <input class="form-control" type="text" asp-for="Email" />
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <label asp-for="INN"></label><br />
        <div class="form-group mb-3">
            <input class="form-control" type="text" asp-for="INN" />
            <span class="text-danger" asp-validation-for="INN"></span>
        </div>
        <label asp-for="Phone"></label><br />
        <div class="form-group mb-3">
            <input class="form-control" type="text" asp-for="Phone" />
            <span class="text-danger" asp-validation-for="Phone"></span>
        </div>
        <label asp-for="Password"></label><br />
        <div class="form-group mb-3">
            <input class="form-control" asp-for="Password" />
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <label asp-for="ConfirmPassword"></label><br />
        <div class="form-group mb-3">
            <input class="form-control" asp-for="ConfirmPassword" />
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>
        <div>
            <input type="submit" value="Регистрация" class="btn btn-outline-dark" />
        </div>
    </div>
</form>